#twitter-container{
margin:30px 0 0 0;
}

#twitter{
float:right;
width:350px;
/*background:#E8F6F3;
*/padding:10px;
}

#twitter-title{
}

#twitter-link a:link, #twitter-link a:hover, #twitter-link a:visited{
}

#twitter-tweet{
display:inline;
}

#twitter-time{
display:inline;
}

#search-form{
float:left;
margin-top: 20px;
}

.search-box{
border: 1px solid #aaaaaa;
width: 276px;
height: 30px;
}

.submit{
background:url(../images/go-button.png) no-repeat left transparent;
border:none;
width:30px;
}
