
/*---------------------------------------------- ARCHIVES BEGIN ----------------------------------*/

#archives-body{
clear:both;
margin:20px 0px 20px 0px;
}

#archives-dropdown{
margin:0 0 20px 0;
}

/*---------------------------------------------- ARCHIVES END ----------------------------------*/






/*---------------------------------------------- COMMENT RESPONSE BEGIN ----------------------------------*/

#comment-response{
clear:both;
text-align:center;
height:200px;
padding:100px 0 0 0;
}

#comment-response h1{
}

/*---------------------------------------------- COMMENT RESPONSE END ----------------------------------*/






/*---------------------------------------------- SEARCH RESULTS BEGIN ----------------------------------*/

h1.SearchResultsHeader{
clear:both;
}

/*---------------------------------------------- SEARCH RESULTS END ----------------------------------*/





/*---------------------------------------------- PAGE BEGIN ----------------------------------*/

.PageBody{
clear:both;
margin:20px 0px 20px 0px;
}

/*---------------------------------------------- PAGE END ----------------------------------*/

